/* Add a black background color to the top navigation */
header {
  margin-bottom: 25px;
  .logo {
    img {
      width: 160px;
      height: 50px;
    }
  }

  .search {
    padding-top: 25px;
  }

  .navigation {
    padding-top: 25px;
    padding-left: 30px;
  }

  .tools {
    padding-top: 18px;
    padding-left: 500px;

    .pi {
      margin-right: 10px;
    }
  }
}