/* You can add global styles to this file, and also import other style files */
$primary-color: #ff3a00;
$primary-color-dark: #af2900;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
body, p-component {
    font-family: 'Open Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  ul {
    @include reset-list();
}