<p-toast></p-toast>
<div data-test="admin-page">
  <p-card
    [header]="editmode ? 'Edit Package' : 'Add Package'"
    subheader="You can add or edit packages here"
  >
    <div class="grid p-mb-5">
      <div class="col-12 md:col-6 lg:col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
            styleClass="p-button-primary p-mr-2"
            [label]="editmode ? 'Update' : 'Create'"
            icon="pi pi-plus"
            (click)="onSubmit()"
          ></p-button>
          </div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-secondary"
              label="Cancle"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="name">Name</label>
              <input formControlName="name" id="name" type="text" pInputText />
              <small *ngIf="productForm.name.invalid && isSubmitted" class="p-error"
                >Name is required</small
              >
            </div>
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="productType">Package type</label>
              <input formControlName="productType" id="productType" type="text" pInputText />
              <small *ngIf="productForm.productType.invalid && isSubmitted" class="p-error"
                >Package type is required</small
              >
            </div>
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="price">Price</label><br />
              <p-inputNumber formControlName="price" mode="decimal" [useGrouping]="false">
              </p-inputNumber>
              <small *ngIf="productForm.price.invalid && isSubmitted" class="p-error"
                >Price is required</small
              >
            </div>
          <!-- </div>
          <div class="p-fluid p-formgrid grid"> -->
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="coverage">Coverage</label><br />
              <input formControlName="coverage" id="coverage" type="text" pInputText />
              <small *ngIf="productForm.coverage.invalid && isSubmitted" class="p-error"
                >Coverage is required</small
              >
            </div>
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="category">category</label><br />
              <p-dropdown
                [options]="catagories"
                formControlName="category"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Category"
              ></p-dropdown>

              <small *ngIf="productForm.category.invalid && isSubmitted" class="p-error"
                >Category is required</small
              >
            </div>
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="isAvailable">Is Available</label><br />
              <p-inputSwitch formControlName="isAvailable"></p-inputSwitch>
            </div>
            <div class="p-field col-12 md:col-6 lg:col-12">
              <label for="description">Description</label><br />
              <textarea
                pInputTextarea
                formControlName="description"
                [rows]="4"
                [cols]="30"
              ></textarea>
              <small *ngIf="productForm.description.invalid && isSubmitted" class="p-error"
                >Description is required</small
              >
            </div>
            <!-- <div class="p-field p-col-12">
              <label for="richDescription">Package Details</label><br />
              <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
            </div> -->
            <div class="p-field col-12 md:col-6 lg:col-12">
              <label for="name">Main Image</label>
              <input
                type="file"
                class="p-inputtext"
                accept="image/*"
                (change)="onImageUpload($event)"
              />
              <small *ngIf="productForm.image.invalid && isSubmitted" class="p-error"
                >Image is required</small
              >
              <div class="col-12 md:col-6 lg:col-12 p-mt-2 p-pl-0">
                <img style="width: 100%" [src]="imageDisplay" alt="" style="width: 200px"/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
