<!-- TDD PROCESS -->
<!-- write a ‘single’ unit test describing an aspect of the program.
Run the test which should fail  -->

<h1>Put your family first with Smart Family Life Insurance</h1>

<h3>Getting a quote is stress-free and easy</h3>

<h5>We’re rated gold by Fairer Finance for Customer Experience and Platinum by Feefo for customer service, so you’re in good hands with Smart Insurance®</h5>

<div>package names</div>


<!-- Write the minimum amount of code required to make the test pass
Run the test to check the new test passes  -->

<!-- <h1 data-test="heading">Put your family first with Smart Family Life Insurance</h1>

<h3 data-test="sub-heading">Getting a quote is stress-free and easy</h3>

<h5 data-test="rated-message">We’re rated gold by Fairer Finance for Customer Experience and Platinum by Feefo for customer service, so you’re in good hands with Smart Insurance®</h5>

<div data-test="package">Package name</div> -->


<!-- Refactor the code (i.e., restructuring existing code without changing 
its external behaviour and to improve the code) and 
design Repeat Steps 1-5 for each of the features to complete the application. -->

<!-- <h1 data-test="heading">Put your family first with Smart Family Life Insurance</h1>

<h3 data-test="sub-heading">Getting a quote is stress-free and easy</h3>

<h5 data-test="rated-message">We’re rated gold by Fairer Finance for Customer Experience and Platinum by Feefo for customer service, so you’re in good hands with Smart Insurance®</h5>

<h5>TDD testing purpose only</h5>
<div data-test="package" *ngFor="let package of products">
    <div data-test="package">{{package.name}}</div>
</div> -->